<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550898644823-p9hlblivacau3ad26jh2bb84ger57ols.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550898644823-p9hlblivacau3ad26jh2bb84ger57ols</string>
	<key>API_KEY</key>
	<string>AIzaSyBKwBxZBtL8XD_PXfygrwJUASs5RMQ1Swo</string>
	<key>GCM_SENDER_ID</key>
	<string>550898644823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alternativesApp</string>
	<key>PROJECT_ID</key>
	<string>alternatives-application-75319</string>
	<key>STORAGE_BUCKET</key>
	<string>alternatives-application-75319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550898644823:ios:c279046b96b5e40b30f012</string>
</dict>
</plist>